html{
  font-size:18px;
}

body, a{
  font-family:Helvetica;
  color:white;
}

.container{
  width:960px;
  margin:auto;
  align-content: center;
}

/*Header section*/
.header{
  min-height:1.5rem;
  background-color:black;
  font-size:1rem;
  display:flex;
  align-items: center;
}

.header img{
  padding-left:0.5rem;
  padding-right:1rem;
  max-height:1.5rem;
  display:inline-flex;
}

.header h4{
  display:inline-flex;
  padding:0.66rem 0;
}

.logo /*Helps to position logo image*/{
  display:flex;
  align-items:center;
  min-height:1.5rem;
}

/*Moto - backgrounded section*/
.moto{
  display:Flex;
  height:25rem;
  background-image:url('../images/background.jpeg');
  background-size:cover;
  background-position: 0 60%;
}

.arrival{
  background-color:black;
  width:25rem;
  text-transform: uppercase;
}

#new /*1st paragraph within .arrival*/{
  padding:2rem 0 0.25rem 3rem;
  font-size:1rem;
  font-weight:bold;
}

#bikes /*2nd paragraph within .arrival*/{
  font-size:2rem;
  font-weight:bold;
  padding:0 0 2rem 3rem;
}

/*Navbar section*/
.navbar{
  background-color:firebrick;
  padding:0.75rem 0;
}

.navbar ul{
  width:100%;
  display:inline-flex;
  justify-content: space-between;
}

.navbar #menu /*Menu button for media query*/{
  display:none;
}

.navbar li{
  display:inline-block;
}

.navbar a{
  text-decoration: none;
}

/*Main section*/
.main{
  display:flex;
  background-color:white;
  padding-top: 3rem;
}
.items{
  display:flex;
  justify-content: space-between;
  margin-bottom:0;
  padding-bottom:0;
}

.pen,
.watch,
.glasses{
  display:flex;
  flex-direction: column;
  width:30%;
}

.main img{
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  max-height:9rem;
  max-width:100%;
  padding:2rem 3.61rem;
}

.items p{
  background-color:black;
  padding:0.5rem 0;
  margin-bottom:3rem;
  text-align: center;
}


/*Different styling due to different image size*/
.glasses img{
  max-height:5.1rem;
  padding:3.95rem 65px;
}

/*Location and hours banners within .main */

.banners{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top:3rem;
  padding-bottom:4rem;
}

.location,
.hours{
  width:35%;
}

.location p,
.hours p{
  color:grey;
}

#location,
#hours{
  color:white;
  padding: 1rem 0 1rem 2rem;
  background-color:black;
}

/*footer section*/
.footer{
  display:flex;
  align-content: center;
  height:5rem;
  background-color:black;
  text-align: left;
}

/*MEDIA QUERIES*/

@media only screen and (max-width:1024px), (orientation:portrait){

  .container{
    width:100%;
  }

/*navbar modifications*/
  .navbar ul{
    display:none;
  }

  .navbar{
    text-align: center;
  }

  .navbar #menu{
    display:inline-block;
  }

  /*items modifications*/
  .items > .glasses{
    display:none;
  }

  .pen,
  .watch{
    width:47%;
  }

  .main img{
    max-height:16rem;
  }
}

@media only screen and (max-width:470px){
 /*backgrounded section modifications*/
  .moto{
    height:15rem;
  }

  .arrival{
    margin-top:10rem;
    padding:0 0 0 2rem;
  }

  #new{
    padding:1rem 0 0.25rem 2rem;
    font-size:0.77rem;
  }

  #bikes{
    padding:0 0 1rem 2rem;
    font-size:1rem;
  }

  /*items section modifications*/
  .watch{
    display:none;
  }

  .pen{
    width:90%;
    margin:auto;
  }

  .banners{
    display:block;
  }

  .hours,
  .location{
    padding-top:0.5rem;
    margin:auto;
    width: 90%;
  }

  /*footer modifications*/
  .footer{
    text-align: center;
  }
}
