html{
  font-size:18px;
}

body, a{
  font-family:Helvetica;
  color:white;
}

.container{
  width:960px;
  margin:auto;
  align-content: center;
}

/*Header section*/
.header{
  min-height:1.5rem;
  background-color:black;
  font-size:1rem;
  display:flex;
  align-items: center;
}

.header img{
  padding-left:0.5rem;
  padding-right:1rem;
  max-height:1.5rem;
  display:inline-flex;
}

.header h4{
  display:inline-flex;
  padding:0.66rem 0;
}

.logo /*Helps to position logo image*/{
  display:flex;
  align-items:center;
  min-height:1.5rem;
}

/*Moto - backgrounded section*/
.moto{
  height:25rem;
  background-image:url('../images/background.jpeg');
  background-size:cover;
  background-position: 0 60%;
}

.arrival{
  background-color:black;
  margin-top:9rem;
  width:25rem;
  text-transform: uppercase;
}

#new /*1st paragraph within .arrival*/{
  padding:2rem 0 0.25rem 3rem;
  font-size:1rem;
  font-weight:bold;
}

#bikes /*2nd paragraph within .arrival*/{
  font-size:2rem;
  font-weight:bold;
  padding:0 0 2rem 3rem;
}

/*Navbar section*/
.navbar{
  background-color:firebrick;
  padding:0.75rem 0;
}

.navbar ul{
  width:100%;
  display:inline-flex;
  justify-content: space-between;
}

.navbar li{
  display:inline-block;
}

.navbar a{
  text-decoration: none;
}

/*Main section*/
.main{
  display:flex;
  background-color:white;
  padding-top: 3rem;
}
.items{
  display:flex;
  justify-content: space-between;
  margin-bottom:0;
  padding-bottom:0;
}

.pen,
.watch,
.glasses{
  display:flex;
  flex-direction: column;
  width:30%;
}

.main img{
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  height:150px;
  width:150px;
  padding:2rem 65px;
}

.items p{
  background-color:black;
  padding:0.5rem 0;
  margin-bottom:3rem;
  text-align: center;
}


/*Different styling due to different image size*/
.glasses img{
  height:80px;
  padding:3.95rem 65px;
}

/*Location and hours banners within .main */

.banners{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top:3rem;
  padding-bottom:4rem;
}

.location,
.hours{
  width:35%;
}

.location p,
.hours p{
  color:grey;
}

#location,
#hours{
  color:white;
  padding: 1rem 0 1rem 2rem;
  background-color:black;
}
